<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFurService"  maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://toscana.webdpc.it/furservice.svc/base"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFurService"
        contract="FurService.IFurService" name="BasicHttpBinding_IFurService" />
    </client>
  </system.serviceModel>
</configuration>
